.flex{display: flex}
.w-v-table{font: 300 13px/15px helvetica, arial, verdana, sans-serif;border-top: 1px solid #ccc;border-left: 1px solid #ccc;}
.w-v-item {width: 100%;overflow: hidden;border-bottom: 1px solid #ccc;}
.w-v-item.ellipsis {text-overflow: ellipsis;white-space: nowrap;}
.w-v-title { border-right: 1px solid #ccc; height: 30px;color: #666;padding: 7px 10px; line-height: 15px; }
.w-v-row .w-v-body-cell { padding: 5px 10px 4px; height: 24px; color: #000;font-weight: 300;line-height: 15px; }
.w-v-table .w-v-row:hover .w-v-body-cell,
.w-v-table .w-v-row:hover .col-item-selection{background-color: #e2eff9}
.w-v-table .w-v-row.selected .w-v-body-cell,
.w-v-table .w-v-row.selected .col-item-selection{background-color: #c2ddf2}
.w-v-table .w-v-thead {position: sticky;top: 0;z-index: 5;background-color: white;}
.w-v-table .w-v-thead .w-v-title:hover{background: #eff6fb}
.w-v-table .w-v-thead .col-item-selection {padding-top: 8px;}
.w-v-table .w-v-thead .col-item-operation {position: sticky;width:10px;right:10px;top:3px;}
.w-v-table .w-v-thead .col-item-operation button {margin-left: -10px;}
.w-v-table .col-item-selection {width: 24px;text-align: center;padding-top: 5px;border-bottom: 1px solid #ccc;}
.w-v-table .w-v-title-sort {background-color: #eff6fb}
.w-v-table .col-item {overflow: hidden}
.w-v-row .col-item,
.w-v-row .col-item-selection,
.w-v-row .col-item-operation {flex: 0 0 auto}
.w-v-row .col-item,
.w-v-row .w-v-body-cell,
.w-v-row .w-v-body-cell.editing-cell {min-width: 0; box-sizing: border-box}
.w-v-row .w-v-body-cell.editing-cell {height: 24px;padding: 1px 3px 0;line-height: 22px;overflow: visible}
.editing-row {position:relative;background-color: #e0ebf3;z-index: 1}
.editing-row .col-item,
.editing-row .col-item-selection {overflow: visible}
.w-v-row.editing-row .w-v-body-cell{line-height: 15px;}
.w-v-row .w-v-body-cell.editing-cell > * {width: 100%; max-width: 100%; min-width: 0}
.w-v-row .w-v-body-cell.editing-cell .ant-input,
.w-v-row .w-v-body-cell.editing-cell .ant-input-affix-wrapper,
.w-v-row .w-v-body-cell.editing-cell .ant-select,
.w-v-row .w-v-body-cell.editing-cell .ant-input,
.w-v-row .w-v-body-cell.editing-cell .ant-select-selection--single {width: 100%; max-width: 100%; min-width: 0; height: 22px}
.w-v-row .w-v-body-cell.editing-cell .ant-select-selection__rendered {line-height: 20px}
.w-v-row .w-v-body-cell.editing-cell .ant-select-selection--single .ant-select-selection__arrow {line-height: 20px}
.w-v-row .w-v-body-cell.editing-cell input {min-width: 0}
.w-v-row .et-editable-table-edit-button {position: absolute;left: 50%;top: 24px;transform: translateX(-50%);margin-top: 0;padding: 4px 10px 8px;background-color: #e0ebf3;z-index: 2;white-space: nowrap}

/* 右侧展开 */
.dragIcon {
  width: 6px;
  height: 10px;
  margin: 0 7px 0 0;
  display: inline-block;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTQgOWExIDEgMCAxMTAgMiAxIDEgMCAwMTAtMnptNCAwYTEgMSAwIDExMCAyIDEgMSAwIDAxMC0yek00IDVhMSAxIDAgMTEwIDIgMSAxIDAgMDEwLTJ6bTQgMGExIDEgMCAxMTAgMiAxIDEgMCAwMTAtMnpNNCAxYTEgMSAwIDExMCAyIDEgMSAwIDAxMC0yem00IDBhMSAxIDAgMTEwIDIgMSAxIDAgMDEwLTJ6IiBmaWxsPSIjODU5MkE2IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=) no-repeat 50%;
}

.dragItem.dragging,
.dragItem:hover {
  background: #f2f4f6;
}
